@use "setup";

body.blogPageBody {
    background-color: white;
}

main.mainBlog {
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: column;

    section.blogContent {
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 100%;
        text-align: left;
        padding-top: 50px;
        
        h2 {
            margin-bottom: 0;
        }
        p.blogDetails {
            margin-top: 0;
            font-size: 0.5rem;
        }
    }
    //  *************
    section.tagsAndShare {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        width: 100%;

        img {
            width: 20px;
            height: 20px;
        }
        
        div.tags,
        div.share {
            display: flex;
            flex: row;
            justify-content: flex-start;
            align-items: center;
            letter-spacing: 0.03rem;
        
            h3 {
                font-size: 0.7rem;
                padding: 0 5px;
                margin: 0;
            }
        }
    }
    // **************
    section.author {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        img {
            width: 150px;
            height: 200px;
            margin-right: 30px;
        }
        div.authorBio {
            padding: 0 30px;
            background-color: #f6f6f6;
        }
    }
    // **********************
    section.relatedPosts {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .postContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .postCard {
            width: calc( (100% / 3) - 30px);
        }
        h4 {
            font-family: 'Raleway', sans-serif;
            line-height: 24px;
            font-size: 0.8rem;
            padding: 10px 0;
            margin: 0;
        }
        p {
            margin-top: 0;
        }
    }

    // ************************
    section.commentContent {
        display: flex;
        flex-direction: column;

        .commentContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            img {
                width: 50px;
                height: 50px;
                margin-right: 20px;
                margin-top: 10px;
            }
            p {
                flex-grow: 1;
                margin-top: 0;
            }
            div.comment {
                background-color: #f6f6f6;
                color: #999999;
                padding: 0 20px;
                margin-top: 10px;

                h5 {
                    margin: 10px 0;
                    padding: 5px 0;
                    font-family: 'Lora', serif;
                    font-weight: 400;
                    font-size: 0.7rem;
                }
            }
        }
    }

    // **********************
    .commentFormContainer {
        margin: 50px 0;
        width: 100%;
    }
    .commentForm {
        width: 100%;
        form {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            label {
                margin: 5px 0;
            }
            input {
                height: 30px;
                width: calc((100% / 3.5));
                border: 2px solid #f6f6f6;
            }
            textarea {
                min-width: 100%;
                margin: 15px 0;
                max-height: 200px;
                border: 2px solid #f6f6f6;
            }
            button {
                width: auto;
                height: 40px;
                font-size: 0.6rem;
            }
            input::placeholder,
            textarea::placeholder {
                color: #999999;
                font-size: 0.6rem;
            }
            .topInputs {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
            }
        }
    }


}