@use "setup";

main {
    background-color: #f6f6f6;
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}
section.form {
    background-color: white;
    width: 60%;
    height: 100%;
}
aside {
    width: 40%;
    p{
        width: 60%;
    }
}

.contactForm {
    padding: 60px 0;
    margin: 0 auto;
}

form.contact {
    img {
        width: 30px;
        height: 30px;
    }
    h2 {
        width: 100%;
        padding-bottom: 20px;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    input,
    textarea {
        border: none;
        background-color: #f6f6f6;
        // background-color: #999999;
        margin: 20px 0;
        height: 40px;
        width: calc((100% / 2) - 5px);
    }

    label {
        z-index: 1;
        font-family: 'Raleway', sans-serif;
        font-size: 0.5rem;

    }

    input::placeholder,
    textarea::placeholder {
        color: #999999;
        font-size: 0.55rem;
    }

    input.fullWidthInputs,
    textarea.fullWidthInputs {
        min-width: 100%;
    }
    textarea.fullWidthInputs {
        height: 150px;
    }

    .sendFormElements {
        display: flex;
        align-items: center;
    }
    
}

p {
    font-size: 0.65rem;
    color: #999999;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
}

a {
    font-family: 'Raleway', sans-serif;
    font-size: 0.6rem;
    text-decoration: none;
}

strong {
    color: black;
    font-family: 'Raleway', sans-serif;
}

