@use "setup";
@use "variables" as *;

section.footer {
    background-color: $blackTwo;
    font-family: $fontRale;
    padding-top: 50px;

    .footerFlex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .footerBlock {
            .socials {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }
            
        }
        h4 {
            color: $whiteShade;
            line-height: $lineHeightSmall;
            font-size: 0.8rem;
            padding: 50px 0px;
            margin: 0;
        }
        p, legend, label {
            font-family: $fontLora;
            color: $gray;
            line-height: $lineHeightSmall;
            letter-spacing: 0.3px;
            font-size: 0.65rem;
            max-width: 250px;
        }
        
        .footerLogo {
            font-weight: bold;
            font-size: 2.2rem;
            padding: 50px 0px;
            margin: 0;
            color: $darkGreen;
        }
        form {
            legend {
                padding: 20px 0px;
            }
            input {
            position: relative;
            height: 50px;
            background-color: $gray;
            border: none;
            }
            label {
            font-style: italic;
            position: absolute;
            color: $whiteShade;
            z-index: 1;
            padding: 10px;
            // transform: translate(100%);
            }
            button {
                position: absolute;
                height: 50px;
                width: 60px;
                img {
                    position: absolute;
                    transform: translate(0%, -50%);
                    margin: 0 auto;
                }
            }
        }
    }
}
.flexSocials .socials img {
    height: 30px;
    width: 30px;
}
section.copyright  {
    background-color: $black;
    margin: 0;
    padding: 20px 0;
}
.copyright {
    p {
        font-family: $fontRale;
        line-height: $lineHeightSmall;
        letter-spacing: 0.3px;
        font-size: 0.65rem;
        margin: 0;
        color: $gray;
    }
}

.footerFlex .footerBlock {
    input::placeholder {
            color: $gray;
            font-size: 0.6rem;
        }
}