@use "setup";
@use "variables" as *;

// HOME Page Header
.headerHome {
    height: 100vh;
    background-image: url("./assets/home-1.jpeg");
    background-position: center;
    background-size: cover;
}
.navFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 96vw;
    height: 10%;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
h1 {
    margin: 0;
    padding-left: 2vw;
    font-family: $fontRale;
}
.navBar li {
    padding: 10px;
    width: auto;
    height: 80%;
    font-family: $fontRale;
}
.checkout img,
.searchBar img {
    height: 30px;
    width: 30px;
}
// Blog Page Header
.headerBlog {
    height: 60vh;
    background-image: url("./assets/blog-1.jpeg");
    background-position: center;
    background-size: cover;
}

// CONTACT Page Header
.headerContact {
    height: 60vh;
    background-image: url("./assets/contact-1.jpeg");
    background-position: center;
    background-size: cover;
}

// *************
