@use "variables" as *;

/* Final touch for wide desktops */
@media (max-width: 1240px) {
    // Home page recipe section grid + column
    section.recipeSection {
            height: 150vh;
    
            .gridItem {
                padding: 30px;
                height: 50%;
            }
    
            .flexBack {
                padding: 0;
                display: inline-block;
            }

            // Recipe section hide some flexCards
            .cardNutri.card5,
            .cardNutri.card6 {
                display: none;
            }
        };


}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    // Home page recipe section column
    .mainHome .recipeSection {
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            height: auto;
    
            .gridItem {
                width: 70%;
                height: auto;
            }
            .flexBack {
                display: none;
            }
        }
        .mainHome .about {
            height: 50vh;

            .imgAbout .foodIcon {
                width: 80px;
                height: 80px;
                top: -45px;
                right: 95px;
            }
        }

    // Header nav
        .navFlex {
            // flex-direction: column;
            // justify-content: flex-start;
            // align-items: flex-start;
            padding: 30px;
        }
        .navBar {
            padding: 0;
        }
        .headerHome {
            height: 50vh;
        }
    
    // Home page imgContainer 
        section.gallery .imgContainer{
            ul .imgGal5,
            ul .imgGal6 {
                display: none;
            }
            li {
                width: 50%;
            }
        }

    // Blog page author section
    section.author {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            margin: 20px;
        }
    }

    // Blog page Related posts section
    section.relatedPosts{
        .postContainer {
            .postCard {
                min-width: 40%;
            }
        }
        .postContainer .postCardHidden {
            display: none;

            .postCard h4 {
                font-size: 0.4rem;
            }
        }
    }

    // Contact Page
    .mainContact {
        flex-direction: column;

        section.form {
            background-color: white;
            height: 60vh;
            width: 100%;
        }

        aside.details {
            width: 100%;
            padding: 10px 0;
            // height: 50vh;
            // margin: 10px 0;
        }

        .details .contactDetails {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            margin: 0 auto;
            // min-height: 50vh;
            div {
                width: 27%;
                p {
                    width: 100%;
                }
            }
            div.info {
                display: none;
            }
        }

    }

    // Footer section
    section.footer .footerFlex {
        flex-wrap: wrap;

        h4 {
            padding: 20px 0;
        }

        .footerLogo {
            padding: 20px 0;
        }

        .footerBlock legend {
            padding-top: 0;
        }
    }

    // ******************
        // Hamburger menu styles

        .menu {
            position: absolute;
            display: block;
            right: 20px;
            padding: 20px;
            background-color: $darkGreen;
            border-radius: 15px;
            cursor: pointer;
            z-index: 2;

            .bar {
                width: 25px;
                height: 2px;
                background-color: $blackTwo;
                margin: 3px 0;
                transition: 0.4s;
            }
        }

        .menu.open {
            right: -45px;
            position: relative;
        }
    
        .menu.open .bar-1 {
            transform: rotate(40deg);
        }
    
        .menu.open .bar-2 {
            opacity: 0;
        }
    
        .menu.open .bar-3 {
            transform: rotate(-40deg);
            margin-top: -10px;
        }
    
        .navBar {
            height: 0;
            overflow: hidden;
            li{
                margin: 0;
                padding: 0;
            }
        }
    
        .navBar.navList {
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            transition: height 0.4s;
            position: absolute;
            top: 70px;
            right: 50px;
            z-index: 2;
            li {
                text-shadow: 1px 1px 2px white;
            }
        }

        .menuBackground {
            width: 0;
            height: 0;
            overflow: hidden;
        }

        .menuBackground.greenShade {
            background-color: $darkGreen;
            opacity: 60%;
            position: absolute;
            top: 0;
            right: 0;
            width: 150px;
            height: 400px;
            z-index: 1;
            border-radius: 10px 0 0 10px;
        }
    .quoteCard {
            display: none;
        }

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    // Contact page
    aside.details .contactDetails {
        justify-content: space-around;

        div.details,
        div.hours {
            width: 45%;
        }
        div.info {
            display: none;
        }
    }

}

/* Landscape phones and down */
@media (max-width: 600px) {
    // Header navBar 
    // .headerHome ul.navBar,
    // .headerBlog ul.navBar,
    // .headerContact ul.navBar {
    //     flex-wrap: wrap;
    //     justify-content: flex-start;
    // }

    // Home page Recipe section
    .recipeSection {
        width: 90%;
        .recipes {
            p {
                width: 100%;
            }
            button {
                font-size: 0.6rem;
                width: auto;
            }
        }
        .nutrition.gridItem {
            width: 100%;
            padding: 20px 0;
            .imgNutri {
                margin: 0 20px;
                width: 30px;
                height: 30px;
            }
        }
    }
    section.about {
        width: 90%;
        margin: 0 auto;
        h2 {
            font-size: 1rem;
        }
    }
    section.about div.imgAbout {
        width: 100%;
    }
    .recipeSection .gridItem {
        width: 100%;
        padding: 20px 0;
        h2 {
            margin: 0 auto;
            font-size: 1rem;
        }
    }
    section.quotations {
        width: 100%;
        div.clients {
            width: 100%;
            h2 {
                font-size: 1rem;
            }
            div.contentQuote {
                min-width: 100%;
                p {
                    width: 60%;
                    font-size: 0.65rem;
                    padding: 15px 0 0 0;
                }
            }
            div.slider {
                padding: 15px;
            }
        }
    }
    
    // Home page imgContainer
    .imgContainer ul {
        display: flex;
        flex-direction: column;
    }

    // Contact page aside
    .mainContact aside.details {
        div.contactDetails {
            p {
                font-size: 0.7rem;
            }
            h2 {
                font-size: 1rem;
            }
        }
    }
}

// Nutrition box of the flex for mobile
@media (max-width: 490px) {
    .nutrition.gridItem {
        flex-direction: column;
        .cardNutri {
            width: 80%;
            margin: 5px 0;
        }
    }
}