@use "variables" as *;

/* Final touch for wide desktops */
@media (max-width: 1240px) {
    // Home page recipe section grid + column
    section.recipeSection {
            height: 150vh;
    
            .gridItem {
                padding: 30px;
                height: 50%;
            }
    
            .flexBack {
                padding: 0;
                display: inline-block;
            }

            // Recipe section hide some flexCards
            .cardNutri.card5,
            .cardNutri.card6 {
                display: none;
            }
        };


}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    // Home page recipe section column
    .mainHome .recipeSection {
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            height: auto;
    
            .gridItem {
                width: 70%;
                height: auto;
            }
            .flexBack {
                display: none;
            }
        }
        .mainHome .about {
            height: 50vh;

            .imgAbout .foodIcon {
                width: 80px;
                height: 80px;
                top: -45px;
                right: 95px;
            }
        }

    // Header nav
        .navFlex {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 30px;
        }
        .navBar {
            padding: 0;
        }
        .headerHome {
            height: 50vh;
        }
    
    // Home page imgContainer 
        section.gallery .imgContainer{
            ul .imgGal5,
            ul .imgGal6 {
                display: none;
            }
            li {
                width: 50%;
            }
        }

    // Blog page author section
    section.author {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            margin: 20px;
        }
    }

    // Blog page Related posts section
    section.relatedPosts{
        .postContainer {
            .postCard {
                min-width: 40%;
            }
        }
        .postContainer .postCardHidden {
            display: none;

            .postCard h4 {
                font-size: 0.4rem;
            }
        }
    }

    // Contact Page
    .mainContact {
        flex-direction: column;

        section.form {
            background-color: white;
            height: 60vh;
            width: 100%;
        }

        aside.details {
            width: 100%;
            height: 100vh;
            margin: 10px 0;
        }

        .details .contactDetails {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin: 0 auto;
            min-height: 60vh;
            div {
                width: 27%;
                p {
                    width: 100%;
                }
            }
            
        }

    }

    // Footer section
    section.footer .footerFlex {
        flex-wrap: wrap;

        h4 {
            padding: 20px 0;
        }

        .footerLogo {
            padding: 20px 0;
        }

        .footerBlock legend {
            padding-top: 0;
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    // Blog page comment form
    div.topInputs {
            flex-direction: column;
            align-items: flex-start;
        }

    // Contact page
    aside.details .contactDetails {
        justify-content: space-around;

        div.details,
        div.hours {
            width: 45%;
        }
        div.info {
            display: none;
        }
    }

}

/* Landscape phones and down */
@media (max-width: 600px) {
    // Header navBar
    .navBar {
            flex-wrap: wrap;
    }

    // Home page imgContainer
    .imgContainer ul {
        display: flex;
        flex-direction: column;
    }
}

