@use "setup";

// Header media queries
@media (max-width: 850px) {
    .navFlex {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 30px;
    }
    .navBar {
        padding: 0;
    }
}

@media (max-width: 600px) {
    .navBar {
        flex-wrap: wrap;
    }
}

// Home page media queries

// recipe section grid 
@media (max-width: 1240px) {
    section.recipeSection {
        height: 150vh;
        .gridItem {
            padding: 30px;
            height: 50%;
        }
        .flexBack {
            padding: 0;
            display: inline-block;
        }
    }
}

// Recipe section direction column --- NOT WORKING
@media (max-width: 1050px) {
    section.recipeSection {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        .gridItem {
            max-width: 60%;
            max-height: 60%;
        }
    }
}

// Nutrition part hide some card  --- NOT WORKING
@media (max-width: 1200px) {
    .card5,
    .card6 {
        display: hidden;
    }
}


// imgContainer hide some img  --- NOT WORKING
@media (max-width: 850px) {
    .imgGal5,
    .imgGal6 {
        display: hidden;
    }
}

// imgContainer direction column  --- NOT WORKING
@media (max-width: 550px) {
    .imgContainer ul {
        display: flex;
        flex-direction: column;
    }
}

// Blog page media queries
@media (max-width: 900px) {
    section.author {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            margin: 20px;
        }
    }
}

// Related posts ---- NOT WORKING

@media (max-width: 900px) {
    .postContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .postCard h4 {
            font-size: 0.4rem;
        }
    }
}

// Comment form  --- NOT WORKING
@media (max-width: 850px) {
    div.topInputs {
        flex-direction: column;
        align-items: flex-start;
    }
}


// Contact Page media queries   ---NOT WORKING
@media (max-width: 800px) {
    .mainContact {
        flex-direction: column;

        section.form {
            background-color: white;
            height: 60vh;
            width: 100%;
        }
        aside.details {
            width: 100%;
            height: 100vh;
            margin: 10px 0;
        }
        div.info {
            display: hidden;
        }
    }
}

// Footer section
@media (max-width: 1200px) {
    section.footer .footerFlex {
        flex-direction: column;

        h4 {
            padding: 20px 0;
        }
        .footerLogo {
            padding: 20px 0;
        }
        .footerBlock legend {
            padding-top: 0;
        }
    }
}