@use "setup";

// Font variables

$fontLora: 'Lora', serif;
$fontRale: 'Raleway', sans-serif;

// Line-height variables 

$lineHeightBig: 44px;
$line-heightMid: 36px;
$lineHeightSmall: 24px;

// Color variables

$darkGreen: #64a604;
$lightGreen: #dded9a;
$whiteShade: #F6F6F6;
$gray: #999;
$black: #2e2e2e;
$blackTwo: #333;
