@use "setup";
@use "header";
@use "footer";



// Google fonts
// font-family: 'Lora', serif;
// font-family: 'Raleway', sans-serif;

section {
    background-color: antiquewhite;
    border: 5px solid black;
    height: 10vh;
}
h1, h2, p {
    margin: 0;
}
h2 {
    margin: 0 auto;
}