@use "setup";
@use "header";
@use "footer";



// Google fonts
// font-family: 'Lora', serif;
// font-family: 'Raleway', sans-serif;

// Colors:
// dark green: #64a604
// light green: #dded9a


// Home Page flexContainer

.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.flexContainer .gridItem {
    width: 50%;
    display: flex;
  
    justify-content: center;
    align-items: center;
}
.recipes {
    padding: 50px;
    flex-direction: column;
}
h2 {
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    font-size: 1.2rem;
}
.recipes p {
    font-family: 'Lora', serif;
    text-align: center;
    padding: 20px;
    width: 80%;
    font-size: 0.75rem;
    color: #999999;
}



// Nutrition part of flexContainer

.flexContainer .nutrition {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ededed;
}

.nutrition h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    margin: 0;
    text-align: left;
    position: left;
}
.nutrition img {
    width: 50px;
    height: 50px;
    // position: absolute;
    // bottom: 80px;
    // left: 35px;
}
.nutrition p {
    // width: 50%;
    font-size: 0.6rem;
}
.cardNutri {
    display: flex;
    width: 40%;
    
}
.imgNutri {
    display: flex;
    justify-content: flex-start;
}
.contentNutri {
    padding-left: 5px;
    padding-right: 5px;
}


// ABOUT Us Section

div.aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

div.imgAbout {
    position: relative;
    height:80%;
    width: 60%;
    padding: 50px 100px;
}
// div.imgAbout .restaurant {
//     width: 50%;
//     margin: 0 auto;
// }

img.foodIcon {
    width: 150px;
    height: 150px;
    position: absolute;
    transform: translate(-10%, -20%);
    top: 0;
    right: 0;
}
.aboutUs p {
    margin: 0 auto;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 0.75rem;
    width: 70%;
    padding: 20px;
    color: #999999;
}

// Gallery section

div.imgContainer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.imgContainer li {
    width: calc(100% / 3);
}
.imgContainer li img {
    display: block;
}


// Clients quotation section
section.quotations {
    background-color: #dded9a;
    margin: 0 auto;
    height: 100%;
    .contentQuote {
        max-width: 70%;
    }
    .contentQuote p {
        padding: 30px;
        font-family: 'Lora', serif;
        font-style: italic;
        text-align: center;
        height: 100%;
        width: 65%;
        margin: 0 auto;
        position: relative;
    }
    h2 {
        margin: 0 auto;
        text-align: center;
        padding: 50px 50px 20px 50px;
    }

    .clients img {
            width: 100px;
            height: 100px;
        }
    .clients {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .qMarkOpen {
        position: absolute;
        transform: translate(80%, -20%);
    }
    .qMarkClose {
        position: absolute;
        transform: translate(-300%, -70%);
        right: 0;
    }
    .slider {
        height: 100%;
        width: 50%;
        padding: 3%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .arrowLeft {
            width: 100px;
            height: 100px;
        }
        .arrowRight {
            width: 100px;
            height: 100px;
        }
    }
}

